  	.geocoder {
      position: absolute;
      z-index: 1;
      width: 50%;
      left: 50%;
      margin-left: -10%;
      top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
      min-width: 100%;
    }
    body{
      margin: 0;
      text-align: center;
      background-color: pink;
    }
    #map { 
    	position: absolute; 
    	top: 60px; 
     bottom: 0; 
     width: 100%;
   }	
   .coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: block;
  }
  #a{
    margin-top:6px; 
    float: right;
   text-decoration: none;
   font-size: 2rem;
   color: white;
   width:250px;
   height: 40px;
   outline:none;
   background-color:#fc6c85;
   border:3px solid #989bb3;
 }
 #a:hover{
   background-color: #a94064;
 }