.container{
	padding: 50px;
	background-color: #f1f1f1;
	max-width: 80%;
	margin: 0 auto;
}
form div a{
	padding: 0;	
	padding-top: 6px;
	text-align: center;
	background-color: #343a40;
	color: white;
	text-decoration: none;
	border-radius: 5%;
}
form div a:hover{
	text-decoration: none;

}
