  	.geocoder {
      position: absolute;
      z-index: 1;
      top: 25px;
      width: 50%;
      left: 50%;
      margin-left: -10%;
    }
    .mapboxgl-ctrl-geocoder {
      min-width: 100%;
    }
    body{
      margin: 0;
      background-color: pink;
    }
    #map { 
      margin: 0;
    	position: absolute; 
    	top: 100px;
      height: 500px
      bottom: 0; 
     bottom: 0; 
     width: 100%;
   }	
   .coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: block;
  }


  #a{
    letter-spacing: 1px;
    font-size: 1.2rem;
    border-radius: 8%;
    float: right;
    margin-top:13px;
    margin-left: 1%;
   background-color:#fc6c85;
   border:3px solid #989bb3;
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  margin-right: 1%;
  text-align: center;
  line-height: 3;
  color: white;
  font-weight: 600;
  }

 #a:hover{
   background-color: #a94064;
 }